.footerName {
    padding: 0 18px 16px;
    font-family: "Cormorant", Garamond;
    color: #231f20;
    font-size: 56px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.forBorderBottom {
    border-bottom: 1px solid black;
    letter-spacing: 3.4px;
    line-height: 1;
    margin: 20px auto;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.footerDate {
    font-family: "Cormorant", Garamond;
    letter-spacing: 3px;
    color: #231f20;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 640px) {
    .footerName {
        font-size: 45px;
    }
}