<div class="container">
    <div class="row">
        <div class="col">
            <h3>LADIES</h3>
        </div>
    </div>

    <div class="row">
        <div class="col subHeading">
            Temple
        </div>
    </div>

    <div class="row">
        <div class="col information">
            <span>Sarees!</span> Ladies wear an art silk saree. Go bright, bold and colourful!
        </div>
    </div>

    <div class="row">
        <div class="col subHeading">
            Reception
        </div>
    </div>

    <div class="row">
        <div class="col information">
            Ladies wear traditional lehengas or modern western dresses, or pant-suits.
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h3>MEN</h3>
        </div>
    </div>

    <div class="row">
        <div class="col subHeading">
            Temple
        </div>
    </div>

    <div class="row">
        <div class="col information">
            Men wear off-white vetti or off-white plain kurta.
        </div>
    </div>

    <div class="row">
        <div class="col subHeading">
            Reception
        </div>
    </div>

    <div class="row">
        <div class="col information">
            Men wear formal attire such as tie and suit or traditional embroidered kurta.
        </div>
    </div>
</div>
