h3{
    margin: 20px 0px 0px;
    text-align: center;
    font-family: "Cormorant", Garamond;
    color: rgb(35, 31, 32);
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subHeading{
    margin: 10px 0;
    font-family: "Cormorant", Garamond;
    letter-spacing: 3px;
    color: #231f20;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

span{
    font-weight: bold;
}

.information{
    margin: 10px 0;
    font-family: "Cormorant", Garamond;
    letter-spacing: 3px;
    color: #231f20;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 640px) {
    h3{
        font-size: 25px;
    }
}