.dateText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 12px auto;
    padding: 20px 72px 20px 0;
    width: 315px;
    border-right: 1px solid #231f20; 
    font-family: "Cormorant", Garamond;
    color: #231f20;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 4px; 
    text-transform: uppercase;
}

.year {
    text-align: center;
}

.locationText{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 20px 72px;
    width: 315px;
    font-family: "Cormorant", Garamond;
    color: #231f20;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 4px; 
    text-transform: uppercase;
}

.weddingHeader{
    line-height: 1;
    margin: 32px 0 -10px 0;
    font-family: "Cormorant", Garamond;
    color: #231f20;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.dateAndTime{
    margin: 0px 0;
    font-family: "Cormorant", Garamond;
    letter-spacing: 3px;
    color: #231f20;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.location{
    margin: 0;
    font-family: "Cormorant", Garamond;
    letter-spacing: 2px;
    color: #231f20;
    font-size: 18px;
    font-weight: normal;
}

.forBorder, .forBorder1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(35, 31, 32, 0.15);
    max-width: 720px;
    width: 100%;
    margin: 50px auto;
}

.itenaryTimeAndInformation {
    margin: 12px 0;
    line-height: 1;
    font-family: "Cormorant", Garamond;
    letter-spacing: 3px;
    color: #231f20;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 0 25px 0;
    flex: 1;
    text-align: center;
}

.forBorder1{
    border-top: 1px solid rgba(35, 31, 32, 0.15);
    padding-top: 25px;
}

.homePageMainImageSecond {
    width: 350px;
    height: 520px;
    display: block;
}

@media (max-width: 640px) {
    .dateText {
        padding-right: 0px;
        width: 100%;
        align-items: center;
        font-size: 20px;
    }
    .locationText{
        padding-left: 40px;
        font-size: 20px;
    }
    .homePageMainImageSecond {
        display: none;
    }
    .weddingHeader{
        font-size: 25px;
    }
    .dateAndTime{
        font-size: 19px;
    }
    .location{
        font-size: 16px;
    }
    .itenaryTimeAndInformation{
        font-size: 19px;
    }
}

