<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <img class="homePageMainImageSecond img-fluid" src="assets/images/pic1.JPEG" alt="Ruksha & Senthuran">
        </div>
    </div>
    <div class="row">
        <div class="col dateText">
            July 3 & 5, <br>
            <span class="year">2024</span>
        </div>
        <div class="col locationText">
            Oshawa &<br>
            Etobicoke
        </div>
    </div>
    <div class="row">
        <div class="col weddingHeader d-flex justify-content-center">
            <p>Temple Wedding</p>
        </div>
    </div>
    <div class="row">
        <div class="col dateAndTime d-flex justify-content-center">
            July 3, 2024
        </div>
    </div>
    <div class="row">
        <div class="dateAndTime d-flex justify-content-center">
            10:30 AM - 1:30 PM
        </div>
    </div>
    <div class="row">
        <div class="col location d-flex justify-content-center mt-4">
            Sri Nava Durga Hindu Temple
        </div>
    </div>
    <div class="row">
        <div class="col location d-flex justify-content-center">
            333 King ST W Unit 5, Oshawa, ON, L1J 2J8
        </div>
    </div>
    <div class="row forBorder1">
        <div class="col itenaryTimeAndInformation">
            9 : 00 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            SCHOOL BUS DEPARTS BRIDE'S HOUSE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            10 : 00 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            BRIDAL PARTY ARRIVES AT TEMPLE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            10 : 10 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            CEREMONY BEGINS AND GROOM'S ENTRANCE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            10 : 30 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            BRIDE'S ENTRANCE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            11 : 30 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            KOORAI SAREE CHANGE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            11 : 45 AM
        </div>
        <div class="col itenaryTimeAndInformation">
            THE TYING OF THE THALI
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            12 : 00 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            LUNCH
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            2 : 00 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            SCHOOL BUS DEPARTS TO BRIDE'S HOUSE
        </div>
    </div>


    <div class="row">
        <div class="col weddingHeader d-flex justify-content-center">
            <p>Reception</p>
        </div>
    </div>
    <div class="row">
        <div class="col dateAndTime d-flex justify-content-center">
            July 5, 2024
        </div>
    </div>
    <div class="row">
        <div class="dateAndTime d-flex justify-content-center">
            7:00 PM - 12:00 AM
        </div>
    </div>
    <div class="row">
        <div class="col location d-flex justify-content-center mt-4">
            Toronto Grand Convention Centre
        </div>
    </div>
    <div class="row">
        <div class="col location d-flex justify-content-center">
            30 Baywood Rd, Etobicoke, ON, M9V 2Z8
        </div>
    </div>
    <div class="row forBorder1">
        <div class="col itenaryTimeAndInformation">
            7 : 00 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            GUEST ARRIVAL
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            7 : 30 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            COCKTAIL HOUR
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 00 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            MC's INTRODUCTION
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 05 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            BRIDE AND GROOM's ENTRANCE
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 10 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            SPEECHES
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 30 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            CAKE CUTTING
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 40 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            KAHOOT & MUSICAL CHAIRS
        </div>
    </div>
    <!-- <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 50 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            BRIDE AND GROOM FIRST DANCE
        </div>
    </div> -->
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            8 : 55 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            DINNER
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            10 : 00 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            GUESS THAT TUNE GAME
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            10 : 15 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            GROUP PHOTOS
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            11 : 05 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            CLOSING REMARKS
        </div>
    </div>
    <div class="row forBorder">
        <div class="col itenaryTimeAndInformation">
            11 : 15 PM
        </div>
        <div class="col itenaryTimeAndInformation">
            DANCE FLOOR IS OPEN
        </div>
    </div>
</div>