<div class="container">
    <div class="row">
        <div class="col">
            <h4>HOW MANY EVENTS WILL THERE BE?</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col content">
            There will be two separate events. The first event will be the temple wedding which takes places on the 3rd. The second event will be the reception which takes place on the 5th.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>WHAT TIME DO I NEED TO BE AT COTH EVENTS?</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col content">
            Temple wedding -10 : 30 AM | Reception - 7 : 00 PM
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>WHAT FOOD WILL BE SERVED AT THE WEDDINGS?</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col content">
            The temple wedding will only be serving vegetarian food, provided by the temple. The reception will be serving a mix of vegetarian and non-vegetarian food. Alcohol will be served.
        </div>
    </div>
</div>
